<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid-19-{% block title %}{% endblock %}</title>
    <link  type="text/css" href="{% static 'main/css/Style_Europe_window.css' %}" rel="stylesheet">


</head>

<body style="
    background-image: url('{% static 'main/images/Virus_E_U_A.png' %}')" >
    <h1 class="select_country">
        Select a country:</h1>

    <form>
        <select class="choose_country" id="choose_country" onclick="myFunction()">
            <option value="Choose country">Choose country</option>
            <option value="Country: Germany
Last updated: 2021-12-22 00:00:00

Confirmed: 6943750
Recovered: 0
Deaths: 109753

Total vaccinated: 58661704">Germany</option>
            <option value="Country: France
Last updated: 2021-12-22 00:00:00

Confirmed: 8902466
Recovered: 0
Deaths: 123101

Total vaccinated: 48949914">France</option>
            <option value="Country: Spain
Last updated: 2021-12-22 00:00:00

Confirmed: 5645095
Recovered: 0
Deaths: 88937

Total vaccinated: 37815104">Spain</option>
            <option value="Country: Italy
Last updated: 2021-12-22 00:00:00

Confirmed: 5472469
Recovered: 0
Deaths: 136077

Total vaccinated: 44528466">Italy</option>
            <option value="Country: Poland
Last updated: 2021-12-22 00:00:00

Confirmed: 4000270
Recovered: 0
Deaths: 92829

Total vaccinated: 20880086">Poland</option>
            <option value="Country: Netherlands
Last updated: 2021-12-22 00:00:00

Confirmed: 3057899
Recovered: 0
Deaths: 21044

Total vaccinated: 11513700">Netherlands</option>
            <option value="Country: Czechia
Last updated: 2021-12-22 00:00:00

Confirmed: 2406989
Recovered: 0
Deaths: 35288

Total vaccinated: 6609228">Czechia</option>
            <option value="Country: Belgium
Last updated: 2021-12-22 00:00:00

Confirmed: 2023285
Recovered: 0
Deaths: 28067

Total vaccinated: 8775316">Belgium</option>
            <option value="Country: Romania
Last updated: 2021-12-22 00:00:00

Confirmed: 1799455
Recovered: 0
Deaths: 58320

Total vaccinated: 7738599">Romania</option>
            <option value="Country: Slovakia
Last updated: 2021-12-22 00:00:00

Confirmed: 1334906
Recovered: 0
Deaths: 16198

Total vaccinated: 2407692">Slovakia</option>
        </select>
    </form>


    <textarea  class="text_field" id="text_field"></textarea>

<div class="buttons">

    <a  href="{% url 'index' %}"
        class="butt_home" >
        Home</a>

</div>


    <script src="{% static 'main/js/script_Europe_window.js' %}"></script>

</body>
</html>